// ============================================
// SOUND
// ============================================

.sound {
  --play-x: 27px;
  --play-y: 27px;

  position: fixed;
  left: calc(50vw - var(--play-x));
  top: calc(50vh - var(--play-y));
  z-index: 9300;

  width: 300px;
  height: 54px;
  opacity: 0;
  pointer-events: none;

  transform: scaleX(200) scaleY(50);
  transform-origin: var(--play-x) var(--play-y);

  body:has(#go-to-start-screen:checked) &.audio-intro {
    animation: audio-play 0.75s linear forwards;
  }
  body:has(#go-to-select:checked) &.audio-door {
    animation: audio-play 0.75s linear forwards;
  }
  body:has(#start-level:checked) &.audio-level {
    animation: audio-play 0.75s linear forwards;
  }
}

@supports (-webkit-appearance: none) and (hanging-punctuation: first) {
  .sound {
    --play-x: 21px;
    --play-y: 30px;
  }
}

@keyframes audio-play {
  0%,
  99.9% {
    opacity: 0.001;
    pointer-events: auto;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}