// ============================================
// SOUND
// ============================================

.sound {
  --play-x: 27px;
  --play-y: 27px;

  position: fixed;
  left: calc(50vw - var(--play-x));
  top: calc(50vh - var(--play-y));
  z-index: 9300;

  width: 300px;
  height: 54px;
  opacity: 0;
  pointer-events: none;

  transform: scaleX(200) scaleY(50);
  transform-origin: var(--play-x) var(--play-y);

  body:has(#go-to-start-screen:checked) & {
    animation: audio-start 0.75s linear;
  }

  body:has(#start-level:checked) & {
    animation: audio-start-2 0.75s linear;

    // override for position
    // width: 100vw;
    // transform: scaleX(1) scaleY(250);
  }
}

@supports (-webkit-appearance: none) and (hanging-punctuation: first) {
  .sound {
    --play-x: 21px;
    --play-y: 30px;

    // body:has(#start-level:checked) & {
    //   --play-x: 30px;
    //   width: calc(100vw + 70px);
    // }
  }
}

@keyframes audio-start {
  0%,
  99.9% {
    opacity: 0.001;
    pointer-events: auto;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes audio-start-2 {
  0%,
  99.9% {
    opacity: 0.001;
    pointer-events: auto;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}
