// ============================================
// LEVEL BACKGROUND
// ============================================

.background {
  position: absolute;
  inset: 0;
  background: url('https://i.imgur.com/98onSdU.png') left center no-repeat;
  background-size: cover;
  image-rendering: pixelated;

  body:has(#start-level:checked) & {
    animation: bg-scroll 60s 1.75s linear forwards;
  }
}

@keyframes bg-scroll {
  to {
    background-position: right center;
  }
}
