// ============================================
// DOORS ANIMATION
// ============================================

.doors {
  --translate: -50vw;
  position: fixed;
  inset: 0;
  z-index: 9001;
  pointer-events: none;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    background: url('https://i.imgur.com/MiparKz.png') right center / cover no-repeat;
    image-rendering: pixelated;
    transition: all 1s ease-out;
  }

  &::before {
    left: var(--translate);
  }

  &::after {
    right: var(--translate);
    scale: -1 1;
  }

  body:has(#go-to-select:checked) & {
    animation: to-player-select 2.5s forwards;
  }

  body:has(#start-level:checked) & {
    animation: start-level 3.5s forwards;
  }
}

@keyframes to-player-select {
  0%, 40% {
    --translate: 0vh;
    pointer-events: inherit;
  }

  100% {
    --translate: -40vh;
    pointer-events: none;
  }
}

@keyframes start-level {
  0% {
    --translate: -40vh;
    pointer-events: none;
  }

  50% {
    --translate: 0vh;
    pointer-events: inherit;
  }

  100% {
    --translate: -50vw;
    pointer-events: none;
  }
}
