// ============================================
// PLAYER SELECT
// ============================================

#go-to-select,
#start-level {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

@keyframes hide-select-screen {
  to {
    display: none;
  }
}

body:has(#start-level:checked) .select-plane {
  animation: hide-select-screen 0.1s 1.75s forwards;
}

.select-plane {
  position: fixed;
  inset: 0;
  z-index: 8000;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: #000;

  &-stage {
    position: relative;
    width: min(100vw, 80vh);
    height: 100vh;
    aspect-ratio: 300 / 500;
    background: url('https://i.imgur.com/A4Uq0wz.png') center / 100% 100% no-repeat;
    image-rendering: pixelated;
    overflow: hidden;
    z-index: -1;

    &::after {
      display: block;
      content: '';
      position: absolute;
      inset: 0;
      background: crimson;
      z-index: -1;
      animation: alarm-colors 1.2s ease-in-out alternate infinite;
      mix-blend-mode: darken;
    }
  }

  @keyframes alarm-colors {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  &-title {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    aspect-ratio: 128 / 48;
    translate: -50% 0;
    background: url('https://i.imgur.com/ZcFFZkc.png') center / contain no-repeat;
    image-rendering: pixelated;
  }

  &-launch {
    position: absolute;
    right: 15%;
    bottom: 12%;
    padding: 10px;
    border: 4px solid #fff;
    color: #fff7b0;
    background: #061d24;
    font: monospace;
    text-transform: uppercase;
  }
}

.plane-options {
  position: absolute;
  container-type: inline-size;
  top: 35%;
  left: 0;
  right: 0;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.plane-option {
  display: block;
  height: 109px;
  position: absolute;
  background: url('https://i.imgur.com/qT4OCkc.png') 0 0 no-repeat;
  background-size: 388px 109px;
  filter: grayscale(0.5) brightness(0.5);
  transition: filter 200ms;
  transform-origin: left;

  &-2 {
    width: 88px;
    scale: 2;
    left: 5%;
    z-index: 1;
  }

  &-1 {
    width: 157px;
    left: 50%;
    scale: 3;
    background-position: -89px 0;
    transform: translate3d(-50%, 35%, 0);
  }

  &-3 {
    width: 138px;
    scale: 2;
    background-position: -250px 0;
    right: -2%;
    top: -2%;
    transform-origin: right 60%;
    z-index: 1;
  }

  &:hover,
  &:focus-visible {
    filter: none;
  }
}

.plane-options:not(:has(.plane-option:hover)) input:checked + .plane-option {
  filter: none;
}

.player-select-preview {
  --preview-box-position: left;
  --preview-plane-position: right top;

  position: absolute;
  left: 15%;
  bottom: 12%;
  width: 96px;
  height: 84px;
  scale: 2;
  background: url('https://i.imgur.com/PBzxfZ9.png') var(--preview-box-position) center / 308.3333% 100% no-repeat;

  .preview-plane {
    position: absolute;
    top: 16%;
    right: 28%;
    bottom: 45%;
    left: 28%;

    &::before {
      content: "";
      position: absolute;
      top: -15%;
      left: 0;
      width: 100%;
      aspect-ratio: 1;
      background: url('https://i.imgur.com/2D140QE.png') var(--preview-plane-position) / 300% 200% no-repeat;
      image-rendering: pixelated;
    }
  }
}

body:has(#plane2:checked) .player-select-preview {
  --preview-box-position: right;
  --preview-plane-position: center top;
}

body:has(#plane3:checked) .player-select-preview {
  --preview-box-position: center;
  --preview-plane-position: left top;
}
