// ============================================
// START SCREEN
// ============================================

.start-screen {
  position: fixed;
  inset: 0;
  z-index: 9000;
  animation: scroll-up 2.2s 1s ease-in-out forwards;
  display: block;
  position: absolute;
  inset: 0;
  background: url('https://i.imgur.com/UC74sSh.png') bottom center / cover no-repeat;
  image-rendering: pixelated;

  body:has(#go-to-select:checked) & {
    animation: hide-start-screen 0.1s 1.25s forwards, scroll-up 0.01s ease-in-out forwards;
  }

  .start {
    position: absolute;
    cursor: pointer;
    left: 50vw;
    translate: -50%;
    top: 58vh;
    font-size: 1.5em;
    display: block;
    padding: 1em;
    overflow: hidden;
    animation: blink 1.1s steps(1) infinite, fade-for-blink 0.01s 4s ease-in-out forwards;
    visibility: hidden;
  }

  .logo {
    background: url('https://i.imgur.com/y78wOY1.png') center / cover no-repeat;
    width: 374px;
    height: 141px;
    image-rendering: pixelated;
    scale: calc(60cqi / 374px);
    margin: 21.5vh auto 0;
    animation: fade-in 0.4s 3.3s ease-in-out forwards;
    opacity: 0;

    div {
      text-align: center;
      color: #ffee99;
      position: absolute;
      bottom: 21%;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 13px;
    }
  }

  .footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ffee99;
    animation: fade-in 0.4s 3.3s ease-in-out forwards;
    opacity: 0;
  }
}

@keyframes scroll-up {
  to {
    background-position: top center;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fade-for-blink {
  to {
    visibility: visible;
  }
}

@keyframes hide-start-screen {
  to {
    display: none;
  }
}
