// ============================================
// CONTAINER SETUP
// ============================================

.container {
  --columns: #{$columns};
  --column-size: #{$column-size};
  --rows: #{$rows};
  --row-size: #{$row-size};

  --player-posX: 2;
  --player-posY: 3;
  --player-bullet-speed: #{$player-bullet-debug-speed + 0.75}s;

  // --enemy-bullet-1-posY: 4;
  // --enemy-bullet-1-posX: 10
  // --enemy-bullet-1-startX: 1;
  // --enemy-bullet-1-startY: 1;
  // --enemy-bullet-1-endX: 1;
  // --enemy-bullet-1-endY: 1;

  @each $e, $config in $enemy-configs {
    --enemy-#{$e}-speed: #{map-get($config, 'speed')};
    --enemy-#{$e}-delay: #{map-get($config, 'delay')};
  }

  container-name: enemy-vs-bullet-container enemy-vs-player-container bullet-vs-player-container;

  @for $hc from 1 through $hover-columns {
    &:has(.hover-grid .col-#{$hc}:focus) {
      --player-posX: #{$hc};

      .player {
        left: #{($hc - 1) * $column-size};
      }
    }
    &:has(.hover-grid .col-#{$hc}:hover) {
      --player-posX: #{$hc} !important;

      .player {
        left: #{($hc - 1) * $column-size} !important;
      }
    }
  }
  @for $hr from 1 through $rows {
    &:has(.hover-grid .row-#{$hr}:focus) {
      --player-posY: #{$hr};

      .player {
        top: calc((var(--player-posY) - 1) * #{$row-size});
      }
    }
    &:has(.hover-grid .row-#{$hr}:hover) {
      --player-posY: #{$hr} !important;

      .player {
        top: calc((var(--player-posY) - 1) * #{$row-size}) !important;
      }
    }
  }

  @for $b from 1 through $player-bullets {
    --player-bullet-#{$b}-animation: none;
  }

  $animations: ();
  @for $b from 1 through $player-bullets {
    $animations: append($animations, var(--player-bullet-#{$b}-animation), comma);
  }

  --enemy-tracking-state: paused;

  --enemy-bullet-1-animation:
    enemy-bullet-tracking 3s 0s linear forwards,
    enemy-bullet-tracking 3s 3s linear forwards,
    enemy-bullet-tracking 3s 6s linear forwards,
    enemy-bullet-tracking 3s 9s linear forwards,
    enemy-bullet-tracking 3s 12s linear forwards
  ;

  // $enemy-bullet-repeats: 7; // adjust number of bullets as needed
  // $enemy-bullet-interval: $enemy-bullet-speed + $enemy-bullet-debug-speed;

  // $enemy-bullet-1-animations: ();
  // @for $i from 0 through ($enemy-bullet-repeats - 1) {
  //   $delay: $enemy-bullet-interval * $i;

  //   $enemy-bullet-1-animations: append(
  //     $enemy-bullet-1-animations,
  //     enemy-bullet-tracking #{$enemy-bullet-interval}s #{$delay}s linear forwards,
  //     comma
  //   );
  // }
  // --enemy-bullet-1-animation: $enemy-bullet-1-animations;

  $animations: append($animations, var(--enemy-bullet-1-animation), comma);

  @each $e, $config in $enemy-configs {
    $path-cells: get-path-cells(map-get($config, 'path-type'));
    $animations: append($animations, enemy-#{$e}-tracking var(--enemy-#{$e}-speed) var(--enemy-#{$e}-delay) forwards steps(#{length($path-cells)}) var(--enemy-tracking-state), comma);
  }
  animation: $animations;

  position: absolute;
  inset: 0;

  &::after {
    visibility: hidden;
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    counter-reset:
      playerY var(--player-posY)
      playerX var(--player-posX)
    ;
    content:
      "plY: " counter(playerY)
      " - plX: " counter(playerX)
    ;
    right: 0;
  }
}
