// ============================================
// CONFIGURATION
// ============================================

$columns: 12;
$hover-columns: 5;
$rows: 5;
$column-size: 100% / $columns;
$row-size: 100% / $rows;

$player-bullets: 10;
$player-bullet-debug-speed: 0;

$enemy-debug-speed: 11;
$enemy-bullet-speed: 2;
$enemy-bullet-debug-speed: 3;
